*{
  font-family: Arial, Helvetica, sans-serif;
}

body{
  padding: 60px;
}

input{
  width: 100%;
  font-size: 1.2rem;
  color: gray;

}

.card-grid{
  display: inline-block;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card{
  align-content: center;
  border: 1px solid grey;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  overflow: hidden;
}

.card p {
  padding: 5px;
  text-align: center;

}

.card img {
  width: 100%;
}

