html, body{
    color: white;
    background-color: #21232A;
    font-family: '', Courier, monospace;
    font-size: 1.3rem;
    padding: 100px;
}

button{
    padding: 10px;
    font-size: 1.3rem;
    padding: 10px;
}